@charset "UTF-8";
/* CSS Document */

.input_cs{width:153px; vertical-align:left; font-size:14px; padding:2px 3px; height:23px; line-height:23px; color: #666; border:1px solid #ACBED2;color:#999999;}
.but_input_cs{background:url(../../images/ucenter/but_input_cs.gif); height:29px; width:22px; border:0; cursor:pointer;}

.tab_select{width:290px; border:1px solid #ACBED2; position:absolute; z-index:100; font-size:12px; background:#FFFFFF; padding:5px; font-weight:100;}
.tab_select ul,.tab_select li{list-style-type:none; padding:0px; margin:0px; float:left;}
.tab_select .tab{width:282px; float:left; background:url(../../images/ucenter/line_bg.gif) repeat-x bottom; height:26px; padding:0 0 0 8px;}
.tab_select li{float:left; padding:0 8px;}
.tab_select li:hover{cursor:pointer;}
.tab_select .option1{border:1px #ACBED2 solid; border-bottom:1px #fff solid; font-weight:bold; height:24px; line-height:24px;}
.tab_select .option2{height:26px; line-height:26px;}
.tab_select .box1,.tab_select .box2{width:270px; float:left; padding:5px 0px;}
.tab_select .box1 li{width:54px; line-height:24px; display:block; cursor:pointer;text-align:center; padding:0; margin:0;}
.tab_select .box1 li:hover{background:#D6ECF9;}

.tab_select .box2 .zimu{width:20px; float:left; line-height:24px; font-weight:bold;}
.tab_select .box2 .city{float:left; width:250px;}
.tab_select .box2 .city li{width:50px; line-height:24px; display:block;cursor:pointer; text-align:center; padding:0; margin:0;}
.tab_select .box2 .city li:hover{background:#D6ECF9;}

.search_select,.search_select0,.search_select01,.search_select02,.search_select03,.search_select001{width:158px; border:1px solid #ACBED2; position:absolute;  font-size:12px; font-weight:100; background:#FFFFFF; top:30px; left:0px;display:none;}
.search_select dl{width:158px; float:left;}
.search_select dt,.search_select dd,.search_select0 dt,.search_select0 dd,.search_select01 dt,.search_select01 dd,.search_select02 dt,.search_select02 dd,.search_select03 dt,.search_select03 dd,.search_select001 dt,.search_select001 dd{line-height:26px; height:26px; padding:0 3px; text-align:left; float:left; width:152px;}
.search_select dt,.search_select0 dt,.search_select01 dt,.search_select02 dt,.search_select03 dt,.search_select001 dt{background:#D6ECF9;}
.search_select dd,.search_select0 dd,.search_select01 dd,.search_select02 dd,.search_select03 dd,.search_select001 dd{cursor:pointer;}
.search_select dd:hover,.search_select0 dd:hover,.search_select01 dd:hover,.search_select02 dd:hover,.search_select03 dd:hover,.search_select001 dd:hover{background:#ECF8FF;}
.search_select .dd1,.search_select0 .dd1,.search_select01 .dd1,.search_select02 .dd1,.search_select03 .dd1,.search_select001 .dd1{background:#FFF7CD;}
.search_select0{width:158px; height:200px; overflow-y:scroll;}
.search_select0 dl{width:141px; float:left;}
.search_select0 dt,.search_select0 dd{width:135px;}
.search_select01{width:123px;}
.search_select01 dl{width:121px; float:left;}
.search_select01 dt,.search_select01 dd{width:116px; float:left;}
.left133{left:98px;}
.left230{left:231px;}
.search_select001{width:123px; height:200px; overflow-y:scroll;}
.search_select001 dl{width:105px; float:left;}
.search_select001 dt,.search_select001 dd{width:99px;}
.search_select02{width:68px;}
.search_select02 dl{width:66px; float:left;}
.search_select02 dt,.search_select02 dd{width:61px;}
.search_select03{width:206px; height:200px; overflow-y:scroll;}
.search_select03 dl{width:189px; float:left;}
.search_select03 dt,.search_select03 dd{width:183px;}






