/*--------------------房不剩房图--------------------*/
.fang01{ width:679px; height:87px; background:url(../../images/web/p1.jpg) no-repeat; padding:55px 0px 0px 321px; margin:10px auto 0px;}
.fang01 table{ margin-top:11px; float:left;}
.wite{ color:#FFF;}
.fang01 .input01{ width:254px; height:20px; line-height:20px; border:0px; padding-left:10px; background:url(../../images/web/fangsbg.jpg) repeat-x;}
.fang01 .phone{ float:left; font-family:"微软雅黑",Arial, Helvetica, sans-serif; padding-left:15px; color:#FFF; font-size:18px; font-weight:bold; width:260px; display:block;}
.fang02{ width:950px; height:75px; line-height:62px; margin:0px auto; padding-left:50px; background:url(../../images/web/fang2.jpg) no-repeat;}
.fang02 a{ padding-left:80px;}
.fang02 a:link, .fang02 a:visited{ font-size:14px; font-weight:bold; color:#2f0f01;}
.fang02 a:hover{ color:#a23200;}
.fang{ width:100%; height:335px; padding-top:130px; background:url(../../images/web/fang3.jpg) no-repeat center;}
.fang03{ width:1000px; margin:0px auto; position:relative;}
.fang_gg{ width:165px; height:89px; float:left; padding-top:172px; color:#ba202a; padding-left:48px; line-height:18px; display:block;}
.fang_nr{ width:570px; height:105px; float:left; display:block; padding-left:30px; padding-top:10px; line-height:18px;}
.fang_pic{ width:158px; height:125px; left:853px; top:86px; float:left; position:absolute;}
.fang_tit{ width:100px; height:28px; line-height:28px; text-align:center; top:50px; left:900px; color:#FFF; position:absolute;}

/*--------------------购房、租房--------------------*/
.goufang{ width:708px; margin-bottom:10px; float:left;}
.goufang_tit{ width:100%; height:24px;}
.goufang_tit .t01{ border:1px #dbdbdb solid; border-bottom:none; padding-left:1px; float:left;}
.goufang_tit .t01 li{ width:80px; height:23px; line-height:23px; text-align:center; margin-right:1px; font-size:14px; font-weight:bold; background:url(../../images/web/gf_tit.jpg) repeat-x; float:left;}
.goufang_tit .t01 #over01{ background:url(../../images/web/gf_tit01.gif) repeat-x; color:#FFF;}
.goufang_tit .t01 #over01 a{ color:#FFF;}
.goufang_tit .t02{ border-left:1px #dbdbdb solid; border-top:1px #dbdbdb solid; padding-left:1px; float:right;}
.goufang_tit .t02 li{ width:80px; height:23px; line-height:23px; text-align:center; border-right:1px #dbdbdb solid; background:url(../../images/web/gf_tit.jpg) repeat-x; float:left;}
.goufang_tit .t02 #over02{ background:url(../../images/web/gf_tit02.gif) repeat-x;}
.goufang_nr{ width:686px; height:230px; border:1px #dbdbdb solid; background:#FFF; padding:10px;}
.goufang_nr ul{ width:686px; padding-bottom:5px; margin-bottom:5px; overflow:hidden;}
.goufang_nr ul li{ display:block; line-height:20px; float:left; white-space:nowrap;}
.goufang_nr ul .bt{ width:54px; font-weight:bold;}
.goufang_nr ul .bx{ width:40px; background-color:#ff6d1e; color:#FFF; text-align:center;}
.goufang_nr ul .fenl{ width:582px; padding-left:10px;}
.goufang_nr ul li a{ padding:0px 7px; float:left; display:block;}
.goufang_nr ul .w622{ width:612px; padding-left:10px;}
.goufang_nr ul .w622 select{ padding-left:10px; margin-right:10px;}

/*--------------------购房、租房--------------------*/
.goufang01{ width:1000px; margin:10px auto 10px;}
.goufang_nr01{ width:978px; border:1px #dbdbdb solid; background:#FFF; padding:10px;}
.goufang_nr01 ul{ width:978px; padding-bottom:5px; margin-bottom:5px; overflow:hidden;}
.goufang_nr01 ul li{ display:block; line-height:20px; float:left; white-space:nowrap;}
.goufang_nr01 ul .bt{ width:54px; font-weight:bold;}
.goufang_nr01 ul .bx{ padding:0px 5px; background-color:#ff6d1e; color:#FFF; text-align:center;}
.goufang_nr01 ul .fenl{ width:874px; padding-left:10px;}
.goufang_nr01 ul li a{ padding:0px 7px; float:left; display:block;}
.goufang_nr01 ul .w622{ width:834px; padding-left:10px;}
.goufang_nr01 ul .w622 select{ padding-left:10px; margin-right:10px;}
.goufang_nr01 table .inp01{ border:1px #cdcdcd solid; border-right:none; width:240px; padding-left:10px; height:22px; background:url(../../images/web/fangsbg.jpg) repeat-x;}

.login{ width:280px; height:69px; line-height:69px; background:url(../../images/web/login.jpg) no-repeat; border:1px #dbdbdb solid;}
.login li{ width:77px; padding-left:63px; float:left;}
.login li a{ font-size:14px;}

/*--------------------新闻区域--------------------*/
.cont{ width:1000px; margin:10px auto 0px; overflow:hidden;}
.c_left{ width:360px; height:426px; float:left;}
.c_pic{ width:360px; height:286px; float:left;}
.lh18{ line-height:18px;}
.es_title{ width:100%; height:32px; line-height:32px; background:url(../../images/web/es_tit.jpg) repeat-x;}
.es_title .a{ font-size:14px; font-weight:bold; margin-left:10px; float:left;}
.es_title .b{ float:right; margin-right:10px;}
.c_center{ width:306px; height:264px; border:1px #dbdbdb solid; margin-left:10px; background-color:#FFF; padding:10px 15px; float:left;}
.c_center dl{ width:306px; margin-bottom:10px;}
.c_center dl dt{ font-size:16px; font-weight:bold; margin-bottom:10px;}
.c_center li{ width:306px;}
.c_right{ width:280px; height:361px; border:1px #dbdbdb solid; background-color:#FFF; float:left;}
.c_right_nr{ width:260px; padding:10px;}
.c_right_nr p{ margin:0px auto; display:block; margin-bottom:10px;}
.c_right_nr li{ width:260px;}

/*--------------------精品网营房源--------------------*/
.left{ width:708px; overflow:hidden; float:left;}
.right{ width:282px; float:right;}
.t_title_bg{ width:100%; height:41px; background:url(../../images/web/line.gif) repeat-x bottom;}
.t_title{ background:url(../../images/web/b15.gif) no-repeat; border-bottom:1px solid #c2111a; height:30px; padding:10px 0px 0px 10px; float:left;}
.t_title .a{ float:Left; color:#ff333c; font-size:16px;}
.t_title .b{ float:Left; color:#000; font-size:16px;}
.t_title_bg .c{ padding:10px 0px 0px 10px; line-height:30px; display:block; float:right;}
.xx{ height:30px; position:relative; left:30px; top:15px; padding:0px; float:left;}
.xx li{ width:70px; height:30px; text-align:center; float:left;}
.xx .over{ background:url(../../images/web/e_over.gif) no-repeat; color:#FFF;}
.jpwy{ width:686px; border:1px #dbdbdb solid; padding:10px 10px 9px; margin-bottom:10px;}
.jpwy_nr{ width:686px; padding-top:10px; overflow:hidden;}
.jpwy_nr dl{ width:311px; height:96px; padding:10px; background-color:#fbfbfb; border:1px #efefef solid; margin:0px 5px 10px; float:left;}
.jpwy_nr dl dt{ width:120px; height:96px; float:left;}
.jpwy_nr dl dd{ width:181px; float:right; line-height:18px;}

/*--------------------精品小区推荐--------------------*/
.jpwd{ width:1000px; margin:10px auto 0px;}
.jpwd_tit{ width:655px; height:30px; line-height:30px; background:url(../../images/web/jpwd.jpg) no-repeat; text-align:right; padding:8px 15px 0px 330px;}
.jpwd_nr{ width:978px; padding:10px; border:1px #dbdbdb solid; border-top:none;}
.jpwd_nr li{ width:200px; margin:10px 22px; background-color:#e77527; text-align:center; float:left; display:inline;}
.jpwd_nr li a:link, .jpwd_nr li a:visited{ color:#FFF;}
.jpwd_nr li a:hover{ color:#FF0;}
.jpwd_nr img{ display:block;}
.clearb{ clear:both;}

/*--------------------论坛推荐--------------------*/
.lttj{ width:686px; border:1px #dbdbdb solid; padding:10px; margin-bottom:10px;}
.lttj_nr{ width:686px; margin:10px 0px; overflow:hidden; background:url(../../images/web/b19.gif) no-repeat center top;}
.lttj_nr dt{ width:159px; height:126px; float:left;}
.lttj_nr dd{ width:517px; float:right;}
.lttj ul{ width:686px; overflow:hidden;}
.lttj ul li{ width:343px; float:left;}

.grfy{ width:260px; border:1px #dbdbdb solid; padding:10px; margin-bottom:10px;}
.h360{ height:368px;}
.grfy_nr{ width:260px; padding:10px 0px; overflow:hidden;}
.grfy_nr li{ width:260px; height:28px; line-height:28px; float:left;}
.grfy_nr li a{ width:100px; display:block; float:left;}
.grfy_nr li span{ width:80px; text-align:center; display:block; float:right;}
.tbg01{ background-color:#e6e6e6;}
.tbg02{ background-color:#ffffef;}
.tbg03{ background:url(../../images/web/xp_tbg02.gif) repeat-x; background-color:#FFF;}
.gfxz{ width:260px; padding:10px 0px;}
.gfxz li{ width:250px; background:url(../../images/web/ic.jpg) no-repeat left; padding-left:10px;}

/*--------------------样板间--------------------*/
.ybj{ width:996px; border:1px #dbdbdb solid; padding:1px; margin:0px auto;}
.ybj_tit{ width:996px; height:28px; line-height:28px; background-color:#f4f4f4;}
.ybj_tit .tit01{ padding:0px 20px; background-color:#e9590b; font-size:14px; color:#FFF; float:left;}
.ybj_nr{ width:976px; padding:10px; overflow:hidden;}
.ybj_left{ width:241px; float:left;}
.ybj_left dl{ width:221px; height:66px; line-height:22px; padding:10px; background:url(../../images/web/zx_bg01.gif) repeat; margin-bottom:2px;}
.ybj_left dl dt{ width:50px; height:66px; float:left;}
.ybj_left dl dd{ width:171px; float:left;}
.ybj_right{ width:715px; float:right;}
.ybj_right_tit{ width:715px; height:23px; line-height:20px;}
.ybj_right_tit li{ width:80px; height:23px; border-right:1px #FFFFFF solid; background:url(../../images/web/xp_tbg.gif) no-repeat 0px -26px; text-align:center; float:left;}
.ybj_right_tit .sel01{ background:url(../../images/web/xp_tbg.gif) no-repeat;}
.ybj_right_tit li a:link, .ybj_right_tit li a:visited{ color:#FFF;}
.ybj_right_tit li a:hover{ text-decoration:none;}
.ybj_right_nr{ width:715px; padding:10px 0px; overflow:hidden;}
.ybj_right_nr li{ width:143px; height:130px; text-align:center; float:left;}
.ybj_right_nr .pic01{ width:120px; height:96px; border:1px #dbdbdb solid; margin:0px auto; display:block;}

/*--------------------二手房列表页--------------------*/
.ljzs_tit{ width:100%; height:25px; line-height:24px; margin:10px auto 0px; background:url(../../images/web/line.gif) repeat-x bottom; border-left:1px #dbdbdb solid;}
.ljzs_tit li{ padding:0px 15px; background:url(../../images/web/xp_tbg.gif) repeat-x 0px -50px; border-right:1px #dbdbdb solid; border-top:1px #dbdbdb solid; float:left;}
.ljzs_tit .sel{ background:url(../../images/web/xp_tbg.gif) repeat-x 0px -100px;}
.xwzx{ width:260px; height:76px; padding-top:10px;}
.xwzx dt{ width:95px; height:76px; float:left;}
.xwzx dd{ width:155px; padding-left:10px; float:left;}
.pxtj{ width:708px; height:36px; padding-top:10px; margin-bottom:10px; border-bottom:1px #dedede solid;}
.es_list{ width:686px; border:1px #dedede solid; padding:10px; margin-bottom:10px; background-color:#FFF;}
.es_list_tit{ width:686px; height:30px; line-height:30px; border-bottom:1px #dedede dashed;}
.es_list_nr{ width:686px; padding:10px 0px; overflow:hidden;}
.es_list_nr dl{ width:400px; float:left;}
.es_list_nr dt{ width:120px; height:96px; float:left;}
.es_list_nr dd{ width:270px; float:right;}
.es_list .hot{ width:37px; height:29px; padding-top:30px; float:left; display:block;}
.es_list .jg{ width:140px; font-size:14px; font-weight:bold; padding:23px 0px 0px 20px; float:left; display:block;}
.es_list .ms{ width:89px; padding-top:13px; float:left;}
.es_list .ms li{ width:70px; padding-left:19px; background:url(../../images/web/dh.gif) no-repeat left;}

.ppg{ width:978px; border:1px #dbdbdb solid; padding:10px; margin:0px auto 10px; overflow:hidden;}
.ppg_nr{ width:978px; padding-top:10px;}
.ppg_nr .jt{ width:10px; height:13px; padding-top:40px; display:block; float:left;}
.ppg_nr ul{ width:952px; height:118px; padding:0px 3px; float:left;}
.ppg_nr li{ width:136px; height:118px; text-align:center; float:left;}
.ppg_nr li .img1{ width:115px; height:92px; border:1px #dbdbdb solid; display:block; margin:0px auto;}

.es_info{ width:260px; border:1px #dbdbdb solid; border-top:2px #dc3136 solid; padding:10px; background-color:#FFF; margin-bottom:10px;}
.es_info .pic01{ width:120px; height:96px; border:1px #dbdbdb solid; margin:0px auto;}
.es_info .xx01{ width:200px; margin:10px auto;}
.es_info dl{ width:200px; margin:0px auto;}
.es_info dt{ width:96px; height:120px; margin:0px auto;}
.es_info dd{ text-align:center;}
.es_info ul{ width:210px; margin:10px auto; overflow:hidden; line-height:18px;}
.es_info li{ width:70px; float:left; text-align:center; color:#ba202a;}
.xqfy{ width:260px; overflow:hidden;}
.xqfy ul{ padding:10px 0px; overflow:hidden;}
.xqfy li{ width:250px; height:22px; line-height:22px; background:url(../../images/web/ic.jpg) no-repeat left; padding-left:10px; text-align:right; color:#ba202a;}
.xqfy li a{ float:left;}
.xqfy01 ul{ padding:10px 0px; overflow:hidden;}
.xqfy01 li{ width:242px; height:26px; line-height:26px; padding-left:18px; text-align:right; color:#ba202a;}
.xqfy01 li a{ float:left;}
.xqfy_add{ width:282px; margin-bottom:10px;}
.fo_tit{ width:708px; font-size:16px; font-weight:bold;}
.fo_come{ width:708px;}
.fo_nr{ width:686px; background-color:#FFF; border:1px #dbdbdb solid; margin:10px 0px; padding:10px; overflow:hidden;}
.fo_nr_pic{ width:350px; height:355px; float:left;}
.fo_nr_pic01{ width:350px; height:280px; margin-bottom:8px;}
.fo_nr_pic02{ width:81px; height:66px; float:left;}
.ml8{ margin-left:8px;}

.fo_nr_nr{ width:320px; float:right; overflow:hidden;}
.fo_phone{ width:200px; height:52px; line-height:52px; font-size:24px; font-weight:bold; color:#ba202a; background:url(../../images/web/phone_bg.gif) repeat; padding-left:70px; margin:10px 0px;}
.fo_sc{ width:320px; border-top:1px #dbdbdb solid; margin-top:10px; padding-top:10px;}

.info_tit{ width:100%; height:32px; line-height:32px; margin:10px auto 0px; background:url(../../images/web/line.gif) repeat-x bottom; border-left:1px #dbdbdb solid;}
.info_tit li{ padding:0px 15px; background:url(../../images/web/xx_tit02.jpg) repeat-x; border-right:1px #dbdbdb solid; font-size:14px; font-weight:bold; float:left;}
.info_tit .sel02{ background:url(../../images/web/xx_tit01.jpg) repeat-x;}
.info_nr{ width:686px; padding:10px; font-size:14px; overflow:hidden;}
.info_map{ width:440px; height:270px; padding:1px; border:1px solid #dbdbdb; float:left;}
.info_map_f{ width:230px; height:270px; float:right;}
.info_nr dl{ width:140px; padding:0px 15px; font-size:12px; float:left;}
.info_nr dl dt{ width:135px; height:109px; padding:2px; border:1px solid #dbdbdb;}
.info_nr dl dd{ width:140px;}

.ly{ width:693px; height:105px; border:1px #dbdbdb solid;}
.ly_tx{ width:65px; height:65px; padding:20px; border-right:1px #dbdbdb solid; float:left;}
.ly_nr{ width:567px; height:85px; padding:10px; float:left; overflow:hidden;}
.ly_input{ width:565px; height:83px; color:#888888; border:1px #FFFFFF solid; overflow:hidden;}
.ly_input01{ width:142px; height:20px; line-height:20px; border:1px #dbdbdb solid; border-right:none; background:url(../../images/web/zh.gif) no-repeat left; padding-left:30px; color:#888888;}
.ly_input02{ width:142px; height:20px; line-height:20px; border:1px #dbdbdb solid; border-right:left; background:url(../../images/web/mm.gif) no-repeat left; padding-left:30px; color:#888888;}
.ly01{ width:695px; padding:10px 0px 0px; margin-top:10px; border-top:1px #dbdbdb dashed; line-height:18px; overflow:hidden;}
.ly01 dt{ width:65px; height:65px; float:left;}
.ly01 dd{ width:620px; float:right;}
.ckgd{ width:100%; height:24px; background-color:#f1f1f1; text-align:center; margin-top:10px;}

.wy_bann{ width:100%; height:417px; background:url(../../images/web/pp03.jpg) no-repeat center;}
.wy_tu{ width:990px; margin:0px auto;}

/*--------------------最近浏览过的房源--------------------*/
.zzll{ width:205px; border:1px solid #dbdbdb;}
.zzll_tit{ width:185px; height:33px; line-height:33px; background:url(../../images/web/zj_tit.jpg) repeat-x; padding:0px 10px;}
.zzll_tit .t1{ float:left; font-weight:bold;}
.zzll_tit .t1 .a1{ float:Left; color:#ff333c; font-size:14px;}
.zzll_tit .t1 .b1{ float:Left; color:#474747; font-size:14px;}
.zzll_gb{ float:right; padding-top:10px;}
.zzll_nr{ width:185px; padding:10px 10px 0px;}
.zzll_nr dl{ padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #dbdbdb; overflow:hidden;}
.zzll_nr dl dt{ width:85px; height:68px; float:left;}
.zzll_nr dl dd{ width:90px; float:right; line-height:17px;}
.zzll_page{ width:185px; margin:0px auto 10px; text-align:center;}




















