/*--------------------广告--------------------*/
.add{ width:1000px; margin:10px auto 0px; overflow:hidden;}
.add01{ width:263px; float:left;}
.add02{ width:452px; margin:0px 11px; float:left;}

/*--------------------家居品牌馆--------------------*/
.ppg{ width:998px; border:1px solid #dbdbdb; margin:10px auto 0px; background-color:#FFF; overflow:hidden;}
.ppg_left{ width:146px; height:410px; border-right:1px #eeeeee solid; float:left;}
.ppg_left_tit{ width:146px; height:154px; padding-bottom:7px;}
.ppg_left_fl{ width:146px; border-bottom:1px #eeeeee solid; padding:25px 0px; text-align:center;}
.ppg_more{ width:146px; background-color:#3caef0; text-align:center;}
.ppg_more a:link, .ppg_more a:visited{ color:#fff; text-decoration:underline;}
.ppg_more a:hover{ color:#FF0; text-decoration:underline;}
.ppg_right{ width:831px; height:390px; padding:10px; float:left;}
.ppg_right li{ width:148px; height:118px; border:1px solid #eeeeee; margin:0px 8px 10px; float:left; display:inline;}

/*--------------------中间内容--------------------*/
.cont{ width:1000px; margin:10px auto 0px; overflow:hidden;}
.left{ width:745px; float:left;}
.right{ width:235px; float:right;}
.p_left{ width:210px; float:left;}
.p_left_add{ width:210px;}
.p_center{ width:515px; float:right;}
.p_center table{ font-size:12px;}

/*--------------------装修招标--------------------*/
.left_t{ width:745px; margin-bottom:10px; overflow:hidden;}
.zxzb{ width:515px;}
.zxzb_tit{ width:515px; height:30px; line-height:30px;}
.zxzb_tit .a{ font-size:14px; font-weight:bold; float:left;}
.zxzb_tit .b{ background:url(../../images/web/zb.gif) no-repeat right; padding-right:20px; float:right;}
.zxzb_nr{ width:513px; border:1px solid #dbdbdb; border-top:2px #bb242d solid; }
.zxzb_nr_tit{ width:513px; height:28px; line-height:28px; background:url(../../images/web/zxzb_tit.jpg) repeat-x;}
.zxzb_nr_tit table td{line-height:28px;}

/*--------------------行业资讯--------------------*/
.hyzx{ width:270px; float:left;}
.t_title_bg{ width:100%; height:31px; background:url(../../images/web/line.gif) repeat-x bottom;}
.t_title{ border-bottom:1px solid #c2111a; height:30px; font-size:14px; float:left;}
.t_title_bg .c{ line-height:30px; display:block; float:right;}
.hyzx_nr{ width:250px; padding:10px;}
.hyzx_nr li{ width:240px; background:url(../../images/web/ic.jpg) no-repeat left; padding-left:10px;}

/*--------------------活动促销--------------------*/
.hdcx{ width:455px; float:right;}
.hdcx_tit{ height:35px; line-height:30px; float:left; position:absolute;}
.hdcx_tit li{ width:70px; height:35px; background:url(../../images/web/hdcx_tit02.gif) no-repeat; text-align:center; float:left; margin-right:2px; cursor:pointer;}
.hdcx_tit .over{ background:url(../../images/web/hdcx_tit01.gif) no-repeat; color:#FFF;}
.hdcx_nr{ float:left;width:435px; padding:10px 0px;display:none;}
.hdcx_nr_left{ width:148px; float:left;}
.hdcx_nr_left img{ margin-bottom:10px;}
.hdcx_nr_right{ width:267px; float:left; padding-left:20px;}
.hdcx_nr_right ul{ margin-bottom:7px;}
.hdcx_nr_right ul li{ width:257px; background:url(../../images/web/ic.jpg) no-repeat left; padding-left:10px;}
.hdcx_nr_right dl{ width:100px; float:left; padding-right:10px;}
.hdcx_nr_right dl dt{ width:100px; height:80px;}
.hdcx_nr_right dl dd{ width:100px; text-align:center;}

/*--------------------家居风水--------------------*/
.jjfs{ width:231px; border:1px solid #dbdbdb; padding:1px;}
.jjfs_tit{ width:221px; height:28px; line-height:28px; background-color:#eeeeee; padding-right:10px; color:#ff6d1e; text-align:right;}
.jjfs_tit span{ font-size:14px; padding-left:10px; float:left;}
.jjfs_nr{ width:211px; padding:10px;}
.jjfs_nr li{ width:201px; padding-left:10px; background:url(../../images/web/ic.jpg) no-repeat left;}
.zxgj_tit{ background:url(../../images/web/zxgj.gif) no-repeat; width:91px; color:#FFF; text-align:left;}
.zxgj_nr{ width:231px;}
.zxgj_nr td{ border-bottom:1px solid #eeeeee; border-right:1px solid #eeeeee;font-size:12px;}
.zxgj_nr .borderr{ border-right:none;}
.zxgj_nr .borderb{ border-bottom:none;}

/*--------------------装修设计图库--------------------*/
.ybj{ width:996px; border:1px #dbdbdb solid; padding:1px; margin:0px auto 10px;}
.ybj_tit{ width:996px; height:28px; line-height:28px; background-color:#f4f4f4;}
.ybj_tit .tit01{ padding:0px 20px; background-color:#7bc3fb; font-size:14px; color:#FFF; float:left;}
.ybj_nr{ width:976px; padding:10px; overflow:hidden;}
.ybj_left{ width:241px; float:left;}
.ybj_left dl{ width:221px; height:66px; line-height:22px; padding:10px; background:url(../../images/web/zx_bg01.gif) repeat; margin-bottom:2px;}
.ybj_left dl dt{ width:50px; height:66px; float:left;}
.ybj_left dl dd{ width:171px; float:left;}
.ybj_right{ width:715px; float:right;}
.sjtk_pic{ width:228px; height:285px; float:left;}
.sjtk_nr{ width:467px; float:right;}
.sjtk_nr ul{ margin-bottom:10px; overflow:hidden;}
.sjtk_nr ul li{ width:223px; padding-left:10px; background:url(../../images/web/ic.jpg) no-repeat left; float:left;}
.sjtk_nr dl{ width:100px; float:left; padding-right:15px;}
.sjtk_nr dl dt{ width:100px; height:80px;}
.sjtk_nr dl dd{ width:100px; text-align:center;}

/*--------------------装修设计论坛--------------------*/
.sjlt{ width:978px; border:1px solid #dbdbdb; margin:0px auto; padding:10px;}
.sjlt_nr{ width:978px; padding:10px 0px; overflow:hidden;}
.sjlt_nr li{ width:214px; background:url(../../images/web/ic.jpg) no-repeat left; padding-left:10px; float:left;}

/*--------------------家居卖场--------------------*/
.mc_pic{ width:300px; height:370px; float:left;}
.mczx{ width:425px; float:right;}
.mczx_nr{ width:405px; padding:10px; overflow:hidden;}
.mczx_nr li{ width:395px; padding-left:10px; background:url(../../images/web/ic.jpg) no-repeat left; font-size:14px;}
.mcrd{ width:213px; border:1px solid #dbdbdb; padding:10px; margin-bottom:10px; background-color:#FFF;}
.mcrd dl{ width:213px; line-height:18px; padding:10px 0px; border-bottom:1px dashed #dbdbdb;}
.mcrd dl dt{ width:213px; font-weight:bold;}
.mcrd dl dd{ width:213px;}
.mcrd_nr{ width:213px; padding:10px 0px;}
.mcrd_nr li{ width:203px; padding-left:10px; background:url(../../images/web/ic.jpg) no-repeat left;}
.r_add{ width:235px;}
.mcpm{ width:213px; padding:10px 0px;}
.mcpm li{ width:187px; padding-left:26px; line-height:30px;}
.jjmc{ width:745px;}
.jjmc dl{ width:745px; padding:10px 0px; border-bottom:1px dashed #dbdbdb; line-height:18px; overflow:hidden;}
.jjmc dl dt{ width:120px; height:96px; border:1px solid #dbdbdb; float:left;}
.jjmc dl dd{ width:603px; float:right;}

.dqwz{ width:100%;}
.zxzn{ width:725px; padding:10px; border-bottom:1px dashed #dbdbdb;}
.zxzn li{ width:715px; line-height:30px; padding-left:10px; background:url(../../images/web/ic.jpg) no-repeat left; text-align:right; color:#999999;}
.zxzn li a{ float:left; font-size:14px;}
.title01{ width:745px; text-align:center; font-size:16px;}
.come{ width:745px; text-align:center; margin:10px auto;}
.zy{ width:685px; line-height:18px; color:#666666; margin:0px auto 10px; background-color:#faf9f9; border:1px #dddddd solid; padding:10px;}
.news_nr{ width:705px; margin:0px auto 10px; overflow:hidden;}
.xgxw{ width:695px; padding:20px 0px; border-top:1px #dbdbdb solid; border-bottom:1px #dbdbdb solid; margin:0px auto; overflow:hidden;}
.xgxw ul{ width:337px; padding-left:10px; float:left;}
.xgxw ul li{ width:337px;}
.xgxw ul li a:link, .xgxw ul li a:visited{ font-size:14px;}
.xx_next{ width:695px; padding:10px 0px; border-bottom:1px #dbdbdb solid; margin:0px auto 10px;}
.ly{ width:693px; height:105px; border:1px #dbdbdb solid; margin:0px auto;}
.ly_tx{ width:65px; height:65px; padding:20px; border-right:1px #dbdbdb solid; float:left;}
.ly_nr{ width:567px; height:85px; padding:10px; float:left; overflow:hidden;}
.ly_input{ width:565px; height:83px; color:#888888; border:1px #FFFFFF solid; overflow:hidden;}
.ly_input01{ width:142px; height:20px; line-height:20px; border:1px #dbdbdb solid; border-right:none; background:url(../../images/web/zh.gif) no-repeat left; padding-left:30px; color:#888888;}
.ly_input02{ width:142px; height:20px; line-height:20px; border:1px #dbdbdb solid; border-right:left; background:url(../../images/web/mm.gif) no-repeat left; padding-left:30px; color:#888888;}
.ly01{ width:695px; padding:10px 0px 0px; margin-top:10px; border-top:1px #dbdbdb dashed; line-height:18px; margin:0px auto; overflow:hidden;}
.ly01 dt{ width:65px; height:65px; float:left;}
.ly01 dd{ width:620px; float:right;}
.ckgd{ width:100%; height:24px; background-color:#f1f1f1; text-align:center; margin-top:10px;}

.zb_tit{ width:733px; height:28px; line-height:28px; border:1px solid #dbdbdb; background:url(../../images/web/zxzb_tit.jpg) repeat-x; padding-left:10px;}
.zb_nr{ width:733px; padding-left:10px; margin:0px auto;}
.zb_nr table{ border-bottom:1px dashed #dbdbdb; margin-bottom:10px; padding-bottom:10px;}
.zb_nr01{ width:705px; margin:0px auto 10px; border-bottom:1px dashed #dbdbdb; padding:10px 0px; overflow:hidden;}
.zb_nr01_tit{ width:705px; border-bottom:1px dashed #dbdbdb; font-size:14px; font-weight:bold; margin-bottom:10px;}






